# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
build/

# Django
staticfiles/
media/
*.log

# Virtual env
.venv/
venv/
ENV/

# SQLite
*.sqlite3
db.sqlite3

# Redis / Celery
celerybeat-schedule
celerybeat.pid

# IDE
.vscode/
.idea/
*.iml

# MacOS
.DS_Store

# Docker
*.pid

# Cache
.cache/
